
@{
    ViewBag.Title = "Confirm Password Reset";
}

<div class="text-center" style="background-color:lightgray;padding:100px 20px">
    <h2>Almost Done!</h2>
    <div>Confirm your Passowrd reset by clicking the link sent to your Email: @ViewBag.Email</div>
</div>


