
@{
    ViewBag.Title = "404";
}

<h2 style="padding-top:100px" class="text-capitalize text-center text-danger">Page you are looking for is not available</h2>

<div class="text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
<p class="text-capitalize text-info">Pls Go back to home page or contact your system adminstrator for more details.</p>
    </div>

