
@{
    ViewBag.Title = "Confirm";
}

<div class="text-center" style="background-color:lightgray;padding:100px 20px">
 <h2>Almost Done!</h2>
    <div>Confirm your registration by clicking the link sent to your Email: @ViewBag.Email</div>
    </div>
